extends ../layouts/default

block page
  - const pageTitle = title

block main
  h1= pageTitle

block content
  article.upload
    details
      p Author: #{author.username}
      p Voting: #{voting.sum}
      dl
        dt Keywords
        each tag in tags
          dd= tag

    if pic
      figure
        img(src=appdir+`/media/${pic.id}` alt=pic.filename)

    section
      h1 Description
      p= description

    section
      h1 Downloads
      ul.files
        each file in files
          li
            a(href=appdir+`/media/${file.id}?download` alt=file.filename)= file.filename

    section
      h1 Comments
      if comments
        each comment in comments
          include ../comments/comment

